* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
#root {
  /* background-image: url(../public/images/cover-img.png); */
}
.header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 65px;
  align-items: center;
  border-bottom: 1px solid #00000082;
  justify-content: space-between;
  background-color: #936517e0;
}
button {
  cursor: pointer;
}
.brandLogo {
  width: 15%;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.brandLogo img {
  height: 100%;
}
.searchDiv {
  display: flex;
    width: 50%;
    /* border: 1px solid black; */
    height: 80%;
    margin-left: 20px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.searchBar {
  width: 50%;
    height: 75%;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 10px;
    background: transparent;
    color: #5a2414;
}
.searchBar::placeholder {
color: #5a2414;
}
.searchBar:focus-visible {
  outline: none;
}
.search-list {
  position: absolute;
    top: 52px;
    width: 24%;
    height: max-content;
    background-color: #fff;
    z-index: 1;
    padding: 5px;
    box-shadow: 0px 4px 9px #8080809e;
    border-radius: 0px 0px 3px 3px;
    background-color: #d7900e8f;
    backdrop-filter: blur(3px);
    display: none;
}
.search-list.active {
  display: block;
}
.search-list li {
  list-style-type: none;
  cursor: pointer;
}
.search-list li:hover {
  color: #fff;
  text-shadow: 2px 2px 2px gray;
}
.searchSubmit {
  height: 70%;
  width: 100px;
  background-color: transparent;
  border: none;
  box-shadow: 1px 0px 8px 0px #00000075;
  border-radius: 10px;
  margin-left: 10px;
}
.rightDiv {
  display: flex;
  height: 80%;
  width: 25%;
  justify-content: flex-end;
  /* border: 1px solid black; */
  margin-right: 15px;
  align-items: center;
}
.profileShow {
  max-width: 100px;
  min-width: 75px;
  height: 40px;
  margin-right: 10px;
  padding: 0 5px;
  background: transparent;
  border: none;
  box-shadow: 0px 3px 2px 1px #5a2414;
  border-radius: 3px;
  color: #5a2414;
  font-weight: bold;
}
.cartBtn {
  position: relative;
  width: 75px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: transparent;
}
.cartBtn img {
  height: 100%;
}
.sectionDiv {
  display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}
.sectionDiv ul {
  display: flex;
  list-style-type: none;
  height: 100%;
  width: 100%;
  align-items: center;
}
.sectionDiv ul li {
  width: -webkit-fill-available;
  text-align: center;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  white-space: nowrap;
}
.sectionDiv ul li:hover{
  color: #d7900e;
  font-weight: 600;
}
.sectionDiv ul li.active {
  color: #d7900e;
  font-weight: 600;
}
.carousel-root{
  height: 50vh;
}
.carousel .slide {
  height: 50vh;
}
.carousel.carousel-slider {
  height: 50vh;
}
.carousel .thumbs-wrapper {
  display: none;
}
.categories {
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.categories.scroll-off {
  height: calc(100vh - 125px);
    overflow: hidden;
}
.categories .card {
  display: flex;
    height: 340px;
    width: calc(100% / 4);
    align-items: flex-start;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0;
    position: relative;
    
}
.card .item-image-div .loader-image {
  /* height: 50px; */
  width: auto;
}
.categories .card .cart-image {
  height: 100%;
  width: -webkit-fill-available;
  margin: 2px;
  border-radius: 10px;
  box-shadow: 0px 3px 11px 0px #8080808f;
}
.card .name {
  font-size: 18px;
    font-weight: 500;
    font-variant: petite-caps;
}
.card .type {
  color: #00000094;
    font-family: monospace;
    font-size: 13px;
}
.card .price {
  font-weight: 600;
    text-decoration: underline;
    color: #744f18;
}
.card .hrLine {
  width: 98%;
  text-align: center;
  margin: 5px 0;
  height: 5px;
  background-color: #d7900e75;
  padding: 0.5px;
}
.addToCart {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    padding: 8px 20px;
    font-weight: 600;
    color: #ffffffe3;
    background-color: #5a2414c2;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.2s linear;
    cursor: pointer;
    
}
.card:hover .addToCart {
  opacity: 1;
}
.cartDiv {
  position: absolute;
  right: 0;
  top: 70px;
  width: 50vw;
  padding: 5px;
  text-align: center;
  overflow: auto;
  background-color: #ffffff7a;
  backdrop-filter: blur(10px);
  height: calc(100% - 70px);
  border: 5px solid #a078333d;
}
.cartItems {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
}
.cartItems img {
  height: 100%;
  border-radius: 10%;
}
.cartClose {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 25px;
  width: 25px;
  border: none;
  background: none;
}
.cartItems .itemName {
  width: 200px;
  text-align: left;
}
.emptyCart {
  font-size: 30px;
    text-decoration: underline;
}
.cart-select {
  position: absolute;
    height: 20px;
    width: 20px;
    right: 12px;
    top: 12px;
    background-color: #ffffff5e;
    border-radius: 5px;
    display: none;
}
.categories .card.active .cart-select{
  display: block;
}
.cart-bottom-div {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}
.cart-bottom-div span:nth-child(1) {
  margin: 0 10px;
}
.cartNumber {
  position: absolute;
    left: 20px;
    top: 2px;
    font-size: 14px;
    font-family: auto;
    height: 18px;
    width: 18px;
    background-color: #5A2414;
    border-radius: 50%;
    color: #fff;
}
.cartItems .remove-cart-icon {
  height: 25px;
}
.item-image-div {
  height: 235px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.filter-div {
  position: fixed;
  right: calc(0vw - 40vw + 60px);
    top: calc(50% + 35px);
    transform: translateY(-50%);
    width: 40vw;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    transition: 0.2s linear all;
}
.filter-div.active {
  right: 0px;
}
.filter-Btn {
  height: 64px;
  border: none;
  background-color: #cf8a24ba;
  font-size: 16px;
  width: 70px;
  border-radius: 10px 0 0 10px;
  font-family: serif;
  /* position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%); */
}
.filter-Btn:hover {
 backdrop-filter: blur(2px);
}
.filter-sort {
  height: 100%;
  width: 100%;
  background-color: #ffffffb0;
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  backdrop-filter: blur(5px);
}
.filter-name {
  text-align: center;
  color: #8c4b0f;
  font-weight: 700;
}
.filter-list {
  display: flex;
    flex-direction: column;
    margin: 15px 10px;
    background-color: #c38b3d00;
    padding: 15px 10px;
    border-radius: 2px;
    box-shadow: 0px 16px 16px #b7b4b4d6;
}
.price-range {
  display: none;
}
.reset-storage-type {
  align-self: end;
  padding: 8px 20px;
  background-color: #d7a458;
  border: none;
  border-radius: 2px;
  color: #8c4b0f;
  font-weight: 700;
}
.filter-sort label {
  cursor: pointer;
  width: max-content;
  margin: 7px 0;
  color: #8c4b0f;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 15px;
}
.filter-sort input {
  margin-right: 10px;
}
.filter-head {
  font-size: 15px;
  color: #8c4b0f;
  font-weight: 600;
  padding: 5px 10px;
  background-color: #d7a458;
}
.logInDiv {
  width: 40vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: max-content;
  display: block;
  background-color: #df92073b;
  backdrop-filter: blur(5px);
}
.logInDiv img {
  width: 100%;
}
.logInDiv form {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.logInDiv .logIn-head {
  text-align: center;
  color: #ffc913;
  text-shadow: 1px 2px 1px #e79b07;
  margin-bottom: 10px;
}
.logInDiv form label {
  margin: 5px 0;
    width: 80%;
    text-align: center;
}
.logInDiv form .formInput {
  height: 30px;
    border: none;
    border-bottom: 1px solid #f9bc2f;
    width: 80%;
    background: transparent;
    font-size: 15px;
    color: #e79c07;
    font-weight: 600;
}
.logInDiv form input:focus-visible {
  outline: none;
}
.form-submit-btn {
padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #f8af08;
    box-shadow: 1px 3px 8px #2e343647;
    width: 65%;
    font-weight: 600;
    cursor: pointer;
}
.close-form-Btn {
  height: 35px;
  width: 35px;
  border: none;
  background: none;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
}
.disabled {
  pointer-events: none;
  color: gray;
}
.gender-checkbox {
  width: 60%;
    display: flex;
}
.gender-checkbox input {
  box-shadow: 0px 0px 0px 1px #f8af08;
  font-size: 3em;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  border: 4px solid #fff;
  background-clip: border-box;
  border-radius: 50%;
  appearance: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.gender-checkbox label {
  display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #00000096;
    font-weight: 600;
}
.gender-checkbox input:checked {
  box-shadow: 0px 0px 0px 4px #f9bb31;
  background-color: #f8af08;
}
.profileDiv {
  position: absolute;
  top: 65px;
  right: 10px;
  width: 300px;
  background-color: #ffffffb8;
  backdrop-filter: blur(4px);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #a078333d;
  border-top: none;
}
.profileDiv .div1 {
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: #a078331f;
    border-radius: 3px;
}
.profileDiv .div1 .profile_image {
  height: 70px;
}
.div2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
  background-color: #a078331f;
  border-radius: 3px;
  padding: 10px;
}
.profileDiv .profile-name:nth-child(2) {
  font-weight: 700;
  font-size: 16px;
}
.profileDiv .profile-name:nth-child(3) {
  font-weight: 600;
  color: #000000a1;
  font-size: 13px;
}
.profileDiv .mobile:nth-child(1), .profileDiv .address:nth-child(3) {
  width: 28%;
  font-weight: 600;
}
.profileDiv .mobile:nth-child(2), .profileDiv .address:nth-child(4) {
  width: 72%;
  font-style: italic;
  }
  .profile-close {
    align-self: end;
    height: 25px;
    width: 25px;
    border: none;
    background: none;
  }
  .profile-close img, .cartClose img {
    height: 100%;
  }
.sign-In-Up {
  background-color: #cf8a24ba;
  border: none;
  width: 100px;
  padding: 7px 0;
  border-radius: 3px;
  align-self: end;
  margin-top: 40px;
  font-weight: 600;
  color: #000000c9;
}
.profileDiv h2 {
  color: #000000b8;
}
.mainLoad {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background: #ffffff78;
  backdrop-filter: blur(20px);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainLoad-img {
  height: 200px;
}
.discNote {
  text-align: center;
    padding: 15px 0;
    background-color: #a07833e8;
    border-radius: 5px;
    box-shadow: 0px 5px 8px #1a1a1a66;
    margin-top: 20px;
}
.discNote span {
  font-size: 15px;
  font-family: serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #3f1d13;
}
.imp-note {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0px 4px 11px 4px #80808096;
}
.note-close {
  height: 25px;
  width: 25px;
  background: transparent;
  border: none;
  align-self: end;
  position: absolute;
}
.note-close img {
  height: 100%;
}
.note-txt {
  align-self: baseline;
  font-weight: bold;
}
.contact-us-note {
  padding: 5px 10px;
  border: none;
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.452);
  transition: all 0.2s linear;
}
.contact-us-note:hover {
  border-bottom: 1px solid black;
}
.note-mainTxt {
  margin: 10px 0;
}
.contact-us-note a {
  text-decoration: none;
}
.content-none {
  pointer-events: none;
  opacity: 0.4;
  filter: blur(10px);
}
@media screen and (max-width: 700px) and (max-height: 950px) and (orientation: portrait) {
  .logInDiv {
    width: 80vw;
  }
  .searchDiv {
    display: none;
  }
  .sectionDiv ul {
    overflow-x: auto;
    position: fixed;
    height: 60px;
    background-color: #fff;
  }
  .categories .card {
    width: 100%;
    height: 315px;
  }
  .filter-div {
    width: 80vw;
    right: calc(0vw - 80vw + 55px);
  }
  .cartDiv {
    width: 100vw;
    border: none;
    z-index: 1;
    top: 65px;
    height: calc(100% - 65px);
  }
  .brandLogo {
    width: 30%;
  }
  .imp-note {
    width: 85vw;
  }
  .addToCart {
    opacity: 1;
    transform: translate(-50%, 100%);
  }
  .cartItems .itemName {
    padding: 0 5px;
  }
  .cartItems {
    height: 70px;
  }
  .discNote {
    padding: 10px 0;
  }
  .header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #936517;
  }
  .sectionDiv {
    position: relative;
    top: 65px;
    background-color: #fff;
    z-index: 1;
  }
  .categories {
    position: absolute;
    top: 125px;
  }
  .profileDiv {
    top: 65px;
    z-index: 1;
    right: 0;
  }
}